## GoogleSheets with Colab

- [Colab and Google Sheets — Surprisingly Powerful Combination for Data Science](https://medium.com/analytics-vidhya/colab-and-google-sheets-surprisingly-powerful-combination-for-data-science-part-1-bbbb11cbd8e)

In [1]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# upbit_240m.csv

wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1J-AeSr7Xi0xS-rDQ2ZXhWsd93JPNXbh0nzO6bfF8BH4/edit#gid=1835016426')

In [4]:
sheet = wb.worksheet('upbit_240m')

In [6]:
data = sheet.get_all_values()

In [7]:
df = pd.DataFrame(data)
df.head()
# df.columns = df.iloc[0]
# df = df.iloc[1:]

   0         1         2         3         4                    5            6
0         open      high       low     close                 time       volume
1  0  38705000  38708000  38210000  38445000  2021-02-03 11:32:19  1297.338899
2  1  38647000  39200000  38518000  38700000   2021-02-03 7:59:59  2092.305324
3  2  37910000  38889000  37909000  38647000   2021-02-03 3:59:59  2060.798688
4  3  37677000  38300000  37671000  37910000   2021-02-03 0:00:00  1260.547693